<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:mk="http://typo3.org/ns/MARKKOM/T2content/ViewHelpers">

    <f:layout name="Content"/>

    <f:section name="Configuration">

        <flux:form id="teufelsCptCntBsBtngroup"
                   label="TYPO3 :: Bootstrap :: Buttongroup"
                   options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">


            <flux:form.sheet name="myOptions" label="Options">
                <flux:field.checkbox name="disableHelp" label="Disable help" default="FALSE" requestUpdate="1"/>

                <flux:field.custom name="customHelp0">
                    <div class="help">
                        <h1>
                            Button group
                        </h1>

                        <p class="lead">
                            Group a series of buttons together on a single line with the button group.
                        </p>
                    </div>
                </flux:field.custom>


                <flux:field.custom name="customHelp10">
                    <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">

                        <h4>Ensure correct <code>role</code> and provide a <code>label</code></h4>

                        <p>
                            In order for assistive technologies – such as screen readers – to convey that a
                            series of buttons is grouped, an appropriate <code>role</code> attribute needs to be
                            provided. For button groups, this would be <code>role="group"</code>, while toolbars
                            should have a <code>role="toolbar"</code>.
                        </p>

                        <p>
                            One exception are groups which only contain a single control (for instance the <a
                                href="#btn-groups-justified">justified button groups</a> with <code>
                            &lt;button&gt;</code> elements) or a dropdown.</p>

                        <p>
                            In addition, groups and toolbars should be given an explicit label, as most assistive
                            technologies will otherwise not announce them, despite the presence of the correct
                            <code>role</code> attribute. In the examples provided here, we use
                            <code>aria-label</code>.
                        </p>
                        <br>
                    </div>
                </flux:field.custom>
                <flux:field.select name="sRole" label="Role" default="group" items="group,toolbar"/>
                <flux:field.input name="sAriaLabel" label="aria-label (e.g. Buttons 1,2,3)" default=""/>

                <flux:field.custom name="customHelp_btn-group_size">
                    <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                        <h4>Sizing</h4>

                        <p>Instead of applying button sizing classes to every button in a group, just add <code>.btn-group-*</code>
                            to each .btn-group, including when nesting multiple groups.</p>

                        <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-default">Middle</button>
                            <button type="button" class="btn btn-default">Right</button>
                        </div>
                        <code>.btn-group-lg</code>
                        <br><br>

                        <div class="btn-group" role="group" aria-label="Default button group">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-default">Middle</button>
                            <button type="button" class="btn btn-default">Right</button>
                        </div>
                        <code>.btn-group</code>
                        <br><br>

                        <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-default">Middle</button>
                            <button type="button" class="btn btn-default">Right</button>
                        </div>
                        <code>.btn-group-sm</code>
                        <br><br>

                        <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-default">Middle</button>
                            <button type="button" class="btn btn-default">Right</button>
                        </div>
                        <code>.btn-group-xs</code>
                    </div>
                </flux:field.custom>
                <flux:field.select name="sSize" label="Size" default="btn-group"
                                   items="btn-group-lg,btn-group,btn-group-sm,btn-group-xs"/>

                <flux:field.custom name="customHelp_btn-group-justified">
                    <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                        <h4>Justified button groups</h4>

                        <p>Make a group of buttons stretch at equal sizes to span the entire width of its parent. Also
                            works with button dropdowns within the button group.</p>

                        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
                            <a href="#" class="btn btn-default" role="button">Left</a>
                            <a href="#" class="btn btn-default" role="button">Middle</a>
                            <a href="#" class="btn btn-default" role="button">Right</a>
                        </div>
                    </div>
                </flux:field.custom>

                <flux:field.checkbox name="bJustified" label=".btn-group-justified" default="FALSE"/>

                <flux:field.custom name="customHelp_btn-group-vertical">
                    <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-success">
                        <h4>Horizontal <strong>(default)</strong></h4>

                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Left</button>
                            <button type="button" class="btn btn-default">Middle</button>
                            <button type="button" class="btn btn-default">Right</button>
                        </div>
                        <!--<div class="btn-group">
                            <button type="button" class="btn btn-primary">0</button>
                            <button type="button" class="btn btn-primary">1</button>
                            <button type="button" class="btn btn-primary">2</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success">0</button>
                            <button type="button" class="btn btn-success">1</button>
                            <button type="button" class="btn btn-success">2</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info">0</button>
                            <button type="button" class="btn btn-info">1</button>
                            <button type="button" class="btn btn-info">2</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning">0</button>
                            <button type="button" class="btn btn-warning">1</button>
                            <button type="button" class="btn btn-warning">2</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger">0</button>
                            <button type="button" class="btn btn-danger">1</button>
                            <button type="button" class="btn btn-danger">2</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-link">0</button>
                            <button type="button" class="btn btn-link">1</button>
                            <button type="button" class="btn btn-link">2</button>
                        </div>-->
                        </div>
                    <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
                        <h4>Vertical</h4>

                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-default">Top</button>
                            <button type="button" class="btn btn-default">Middle</button>
                            <button type="button" class="btn btn-default">Bottom</button>
                        </div>
                        <!--<div class="btn-group-vertical">
                            <button type="button" class="btn btn-primary">0</button>
                            <button type="button" class="btn btn-primary">1</button>
                            <button type="button" class="btn btn-primary">2</button>
                        </div>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-success">0</button>
                            <button type="button" class="btn btn-success">1</button>
                            <button type="button" class="btn btn-success">2</button>
                        </div>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-info">0</button>
                            <button type="button" class="btn btn-info">1</button>
                            <button type="button" class="btn btn-info">2</button>
                        </p>
                        <p class="btn-group-vertical">
                            <button type="button" class="btn btn-warning">0</button>
                            <button type="button" class="btn btn-warning">1</button>
                            <button type="button" class="btn btn-warning">2</button>
                        </div>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-danger">0</button>
                            <button type="button" class="btn btn-danger">1</button>
                            <button type="button" class="btn btn-danger">2</button>
                        </div>
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-link">0</button>
                            <button type="button" class="btn btn-link">1</button>
                            <button type="button" class="btn btn-link">2</button>
                        </div>-->
                        <br>
                        <br>
                    </div>
                    <div class="bs-callout bs-callout-danger callout callout-danger t-callout t-callout-danger">
                        If <code>.btn-group-vertical</code> is checked <code>.btn-group-justified</code> will be ignored!
                    </div>
                </flux:field.custom>
                <flux:field.checkbox name="bVertical" label=".btn-group-vertical" default="FALSE"/>

            </flux:form.sheet>

            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column name="content" label="Content"/>
                </flux:grid.row>
            </flux:grid>

        </flux:form>
    </f:section>

    <f:section name="Preview">
        <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
            <h4>Button Group</h4>
            <p>Group a series of buttons together on a single line with the button group.</p>
        </div>
        <f:if condition="{bVertical}">
            <f:then>
                <span class="label label-success">.btn-group-vertical</span>
            </f:then>
            <f:else>
                <f:if condition="{bJustified}">
                    <f:then>
                        <span class="label label-success">.btn-group-justified</span>
                    </f:then>
                </f:if>
            </f:else>
        </f:if>
        <span class="label label-success">.{sSize}</span> <span class="label label-success">role="{sRole}"</span>
        <f:if condition="{sAriaLabel} != ''">
            <f:then>
                <span class="label label-success">aria-label="{sAriaLabel}"</span>
            </f:then>
        </f:if>
        <flux:widget.grid/>
    </f:section>

    <f:section name="Main">
        <v:variable.set name="sClass" value="btn-group" />
        <f:if condition="{bVertical}">
            <f:then>
                <v:variable.set name="sClass" value="{sClass} btn-group-vertical" />
            </f:then>
            <f:else>
                <f:if condition="{bJustified}">
                    <f:then>
                        <v:variable.set name="sClass" value="{sClass} btn-group-justified" />
                    </f:then>
                </f:if>
            </f:else>
        </f:if>
        <f:if condition="{sSize} != 'btn-group'">
            <f:then>
                <v:variable.set name="sClass" value="{sClass} {sSize}" />
            </f:then>
        </f:if>

        <div role="{sRole}" aria-label="{sAriaLabel}" class="{sClass}">
            <flux:content.render area="content"/>
        </div>
    </f:section>

</div>
